{% extends 'partials/navbar.html' %}
{% load static %}
{% block content %}

{% include 'partials/navbar.html' %}
<main role="main" class="container pt-5">
  <div class="jumbotron mt-5">
    <h1 class="header offset-md-5 py-3">  {{title}}</h1>      
    <div class="display-table">
    <table class="table table-bordered">
      <thead>
        <tr>
        <th>NUMBER</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT</th>
        <th>DATE ADDED</th>  
        <th>VIEW</th>  
        <th>DELETE</th>  
        </tr>
      </thead>
      {% for customer in customers %}
      <tbody>
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.contact}}</td>
        <td>{{customer.added_on}}</td>
        <th><a href="{% url 'customer_details' customer.id %}" class="btn btn-primary">VIEW</a></th>          
        <th><a href="{% url 'deleteCustomer' customer.id %}" class="btn btn-danger">DELETE</a></th>          
    
      </tr>
    </tbody>
      {% endfor %}
    </table>  
   
  </div>
</main>
{% endblock content %}


