{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/navbar.html' %}

<main role="main" class="container">
  <div class="jumbotron  mt-3">
    <h1 class="text-center"> {{title}}</h1>  
    
      <br> <br>
    <table class="table">
      <thead>
        <tr>
        <th>Full Name</th>
        <th>Address</th>
        <th>Medicine</th>        
        <th>Quantity</th>        
        <th>Update</th>        
        </tr>
      </thead>
  <tbody>
  <tr>
    <td>{{customer.firstname}} {{customer.lastname}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.medicine.MedicineName}}</td>  
    <td>{{customer.medicine.quantity}} mg</td>
    <th><a href="{% url 'UpdateCustomer' customer.id %}" class="btn btn-success"> UPDATE </a></th> 
  </tr>
</tbody>
</table> 
</div>
</main>
{% endblock content %}
    
