{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    
{% include 'partials/navbar.html' %}

<main role="main" class="container mt-3">
  <div class="jumbotron mt-3">
    <h1 class="text-center pb-4">  {{title}}</h1>
     {% for record in customerRecord %}
    {{record.customerName}}
     {% endfor %}
     
     <form action="" method="POST">
       {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="SAVE" class="btn btn-success">
    </form>
  </div>
</main>
{% endblock content %}
