{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!---Custom CSS-->
    <link href=" {% static 'css/style.css' %}" rel="stylesheet" >

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
<link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
<script src="{% static 'bootstrap.min.js' %}"></script>  




    
    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>
  
  {% include 'navbar.html' %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1 class="header">  {{title}}</h1>
    
    
    <div class="display-table">
    <table class="table">
      <thead>
        <tr>
        <th>NUMBER</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT</th>
        <th>DATE ADDED</th>
        <th class="btn btn-danger">DELETE</th>
        </tr>
      </thead>
      {% for instance in queryset %}
      <tr>
        <td>{{ forloop.counter}}</td>
        <td>{{instance.firstName}}</td>
        <td>{{instance.lastName}}</td>
        <td>{{instance.address}}</td>
        <td>{{instance.contact}}</td>
        <td>{{instance.added_on}}</td>
       
       
      </tr>
      {% endfor %}
    </table>
    
   
  </div>
</main>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

      
  </body>
</html>
