table{
    border-collapse: collapse;
    color: #fff;
    font-family: sans-serif;
}
table,th,td{
    border: 1px solid #000;
    text-align: center;
}
th, td{
    padding: 5px;
}
/* select odd rows*/
tr:nth-child(odd){
    background: #173459;
}
/* select even rows*/
tr:nth-child(even){
    background: #903c56;
}